{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us..</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to  Sireesha Ecommerce Store</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br>
                Welcome to "SIREESHA ECOMMERCE", your go-to online bookstore for all your reading needs! Our platform is designed to bring the joy of books right to your fingertips. Whether you're exploring gripping fiction, insightful non-fiction, or essential academic resources, we offer a curated selection to inspire every reader. With seamless product management, user-friendly authentication, and a convenient shopping cart system, we aim to make your book-buying experience smooth and enjoyable.
              <br><br>
                </p>
</div>
        </center>
    </div>
</div>

{% endblock %}
